<p id="notice"><%= notice %></p>

<div class="large-3 small-12 column">
  <%=image_tag @whisky.pic %>
</div>

<div class="large-9 small-12 column">
  <h3>
    <%= @whisky.name %>
    (<%= @whisky.old %> Jahre)
  </h3>
  <p class="label whisky-label radius mb1">€ <%= @whisky.price %></p>
  <%if signed_in?%>
      <%=link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@whisky), removeUrl: remove_from_cart_path(@whisky)} do%>
          <i class="fi-shopping-cart"></i>
          <span><%=@cart_action%></span> Einkaufswagen
      <%end%>
  <%end%>
  <p>Herkunft: <%= @whisky.land %></p>
  <p>Inhalt: <%= @whisky.liter %>L</p>
  <p>Umdrehungen: <%= @whisky.volume %> %</p>
  <p>Beschreibung: <%= @whisky.description %></p>
</div>

<div class="row">
  <div class="small-2 large-2 columns">
    <%= imdb_style_rating_for @whisky, current_user%>
  </div>
  <br>
  <div class="small-2 large-4 columns">
    <% if current_user %>
        Geschmack: <%= rating_for @whisky, "geschmack" %>
        <br>
        Geruch: <%= rating_for @whisky, "geruch" %>
        <br>
        Flaschendesign: <%= rating_for @whisky, "flaschendesign" %>
        <br>
        Preis/Leistung: <%= rating_for @whisky, "preisleistung" %>
    <% end %>
  </div>
</div>

